---
name: pre-commit

on:
  pull_request

permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Install tools
        run: |
          go install github.com/mgechev/revive@latest
          curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.22.3
          go install -v github.com/go-critic/go-critic/cmd/gocritic@latest
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.1.1

      - name: pre-commit
        uses: pre-commit/action@v3.0.1
